* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #b11623;
}

main {
    background-color: #cccccc;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(85, 83, 83, 0.3);
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
    cursor: pointer;
    color: #292c37;
    
}

.head{
    display: inline-block;
    margin: 10px;
    align-items: center;
    border-width: 5px;
    border-radius: 17px;
    background-color: #cccccc;

}