* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(255, 0, 0, 0.808);
}

main {
    background-color: #161515c0;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(85, 83, 83, 0.3);
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
    cursor: pointer;
    color: #fdfdfd;
    
}